/* 1. Enhancing Web Design with RGBA Colors */
/* Task 1: Apply RGBA Background Colors */

.background-fade {
    background-color: rgba(0, 80, 255, .3);
    min-height: 100px;
}

/* Task 2: Enhance Text Visibility with RGBA */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 3px black;
    color: white;
}

/* Task 3: Interactive Buttons with RGBA Hover Effects */

button {
    background-color: rgba(0, 80, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 255, 149);
}