body { 
    background-color: lightgreen;
}

/* 1. Enhancing Web Design with RGBA Colors */
/* Task 1: Apply RGBA Background Colors */

.background-fade {
    background-color: rgba(0, 80, 255, .3);
    min-height: 100px;
}