/* 2. Creating Interactive Web Elements with CSS Animations and Transitions */
/* Task 1: Smooth Hover Transition for Links */

a {
    transition: color 1s;
    transition: background-color 1s;
}

a:hover {
    color: red;
    background-color: yellow;
}

/* Task 2: Animated Button on Click */

button {
    transition: transform 0.3s;
}

button:active {
    animation: enlarge 0.3s ease forwards;
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Task 3: Continuous Rotation Animation for an Icon */

img {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}